<odoo>
  <data>

    <!-- ACTIONS -->
    <record id="action_cash_out" model="ir.actions.act_window">
      <field name="name">Cash Out</field>
      <field name="res_model">cash.treasury.out</field>
      <field name="view_mode">list,form</field>
    </record>

    <record id="action_cash_in" model="ir.actions.act_window">
      <field name="name">Cash In</field>
      <field name="res_model">cash.treasury.in</field>
      <field name="view_mode">list,form</field>
    </record>


<record id="action_cash_treasury_report" model="ir.actions.act_window">
    <field name="name">Treasury Report</field>
    <field name="res_model">cash.treasury.report.line</field>
    <field name="view_mode">list</field>
    <field name="context">{'group_by': 'account_id'}</field>
</record>

    <!-- ROOT : CASH TREASURY -->
    <menuitem
      id="menu_cash_treasury_root"
      name="Cash Treasury"
      sequence="10"
      web_icon="cash_treasury,static/description/icon.png"
      groups="base.group_system,cash_treasury.group_cash_entry,cash_treasury.group_cash_reviewer,cash_treasury.group_cash_accountant,cash_treasury.group_cash_in_entry,cash_treasury.group_cash_in_accountant,cash_treasury.group_cash_super_approver"
    />

    <!-- CASH OUT -->
    <menuitem
      id="menu_cash_out"
      name="Cash Out"
      parent="menu_cash_treasury_root"
      action="action_cash_out"
      sequence="1"
      groups="cash_treasury.group_cash_entry,cash_treasury.group_cash_reviewer,cash_treasury.group_cash_accountant,cash_treasury.group_cash_super_approver"
    />

    <!-- CASH IN -->
    <menuitem
      id="menu_cash_in"
      name="Cash In"
      parent="menu_cash_treasury_root"
      action="action_cash_in"
      sequence="2"
      groups="cash_treasury.group_cash_in_entry,cash_treasury.group_cash_in_accountant,cash_treasury.group_cash_super_approver"
    />
 <menuitem
  id="menu_cash_treasury_report"
  name="Treasury Report"
  parent="menu_cash_treasury_root"
  action="action_cash_treasury_report"
  sequence="30"
/> 
  </data>
</odoo>

